$primary-font-color: #000000;
$secondary-font-color: #FFFFFF;
$font-family: "Open Sans";

$box-color-corn: #F3E9E2;
$box-color-light-coral: #F57E7E;
$box-color-light-blue: #D6E1EC;
$box-color-light-violet:#DEE1EC; 

@mixin mobile {
  @media (max-width: 320px) { @content; }
}
@mixin mobile-landscape {
  @media (min-width: 481px) and (max-width: 767px) {@content;}
}
@mixin tablet-landscape {
  @media (max-width: 768px)  { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}


body{
  padding: 0;
  margin:0;
  font-family: $font-family;
  // display: grid;
  // grid-template-areas: 
  // "header header header"
  // "main main main";

  header{
    display: flex;
    justify-items: center;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    .knowit-logo{
      min-width: 119px; //134
      max-width: 119px;
      min-height: 29px;
      max-width: 29px;
      padding-left:140px ;
    }
    .hamburger-menu{
      // display: none;
      width:33.33px;
      height: 25.53px;
      cursor: pointer;
      @include tablet-landscape {
        display: block;
      }
    }
    .desktop-menu{    
      list-style: none;
      display: flex;
      padding-right: 140px;
      text-align: left;

      @include tablet-landscape{
       display:none
      }
      li{
        color: $secondary-font-color;
        display: flex;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 3px 7px rgba(0,0,0,0.5);
        cursor: pointer;
        padding: 20px;

        .jobb-offers-number{
          color: $secondary-font-color;
          background-color: $box-color-light-coral;
          border-radius: 50%;
          font-size: 11px;
          line-height: 15px;
          height: 20px;
          width: 20px;
          text-align: center;
          display: inline-block;
          padding: 0 0 0 0;
          margin-left: -5px;
        }
      }
     }
    
  }
  main{
    width: 100%;
    // grid-area: main;
    // display: grid;
    // grid-template-areas: "img img img" "box1 box2 box3";
    .intro-img{
      width:100%;
      position: relative;
      top:-250px;
      z-index: -1;
      background-size: 837;
      overflow: hidden;
      clip: inherit; 

      // @include mobile {
      //   top:0;
      //   z-index: -1;
      // }
      @include tablet-landscape {
        top:0;
        z-index: -1;
      }

    }
    .heading-container {
      // grid-area: intro;
      text-align: center;
      // color:$secondary-font-color;
      // position: absolute;
      // top: 40%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // width: 60%;
      // height: auto;
      @include tablet-landscape {
        color:$primary-font-color;
        display: block;
        width: 90%;
      }
        h1{
          font-size: 53px;
          font-weight: bold;
          text-transform: uppercase;
          @include tablet-landscape {
            font-size: 22px;
          }
          
        }
        p{
          font-size: 18px;
          line-height:28px;
          @include tablet-landscape {
            font-size: 14px;
          }
      }
    }
    .selection-container-row{
      display:flex;
      flex-direction: row;
      font-family: $font-family;
      margin: 0;
      padding: 0;
      justify-content: center;
      // align-items: center;

      @include mobile{
        flex-direction: column;
        width: auto;
      }
      .box-container{
        display: flex;
        flex-direction: column;
        // height: auto;
        max-width:25%;
  
        // padding: 2rem;
        margin: 1rem;
      
        &--one{
          @extend .box-container;
           background-color: $box-color-corn;

        }
       &--two{
          @extend .box-container;
          background-color: $box-color-light-blue;
        }
       &--three{
          @extend .box-container;
          background-color: $box-color-light-violet;
        }
        .container-img{
          background-size: cover;
          max-height: 268px;
          // width: auto;
          padding: 0;
          background-position: center;
          background-repeat: no-repeat;
      }
        h4{
          font-size: 24px;
          font-family: $font-family;
          font-weight: bold;
          margin: 0;
        }
        p{
          font-family: $font-family;
          font-size: 18px;
          line-height: 30px;
          text-align: left;
        }
        a{
          text-transform: uppercase;
          text-decoration: none;
          color: $primary-font-color;
          font-size:18px;
          text-align: left;
          font-weight: 400;
        }
      }
      
    }
  }
 
}