$primary-font-color: #000000;
$secondary-font-color: #FFFFFF;
$font-family: "Open Sans";

$box-color-corn: #F3E9E2;
$box-color-light-coral: #F57E7E;
$box-color-light-blue: #D6E1EC;
$box-color-light-violet:#DEE1EC; 

@mixin mobile {
  @media (max-width: 320px) { @content; }
}
@mixin mobile-landscape {
  @media (max-width: 599px) {@content;}
}
@mixin tablet-landscape {
  @media (max-width: 768px)  { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}

html{
  box-sizing: border-box;
}
body{
  height: 100%;
  padding: 0;
  margin:0;
  font-family: $font-family;
  
  header{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 27px;

    .knowit-logo{
      min-width: 119px; //134
      max-width: 119px;
      // min-height: 29px;
      // max-width: 29px;
      // margin-left: 27px;
      @include desktop{
        padding-left:140px ;
      }
     
    }
    .hamburger-menu{
      z-index: 5;
      width:33.33px;
      // left: ;
      // height: 25.53px;
      // padding: 27px;
      @include desktop {
        display: none;

      }
    }
    .desktop-menu{    
      list-style: none;
      display: none;
      padding-right: 140px;
      text-align: left;

      @include desktop{
       display:flex
      }
      li{
        color: $secondary-font-color;
        display: flex;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 3px 7px rgba(0,0,0,0.5);
        cursor: pointer;
        margin: 20px;

        .jobb-offers-number{
          color: $secondary-font-color;
          background-color: $box-color-light-coral;
          border-radius: 50%;
          font-size: 11px;
          line-height: 15px;
          height: 20px;
          width: 20px;
          text-align: center;
          align-content: center;
          padding: 0 0 0 0;
          margin-left: -5px;
          display: block;
        }
      }
     }
    
  }
  main{
    width: 100%;
    height: auto;
  
    .intro-img{
      max-width:100%;
      top:-87px;
      z-index: -1;
      overflow: hidden;
      position: relative;
      @include desktop{
        z-index: -2;
        top: -250px;
       }
    }

    .heading-container{
      color: $primary-font-color;
      text-align: center;
      position: relative;
      top: -100px;
      margin-top: 30px;
      @include desktop{
        color:$secondary-font-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: auto;
      }

      h1{
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        @include desktop {
          font-size: 53px;
        } 
      }
      p{
        font-size: 14px;
        line-height:28px;
        margin: 30px;
        @include desktop {
          font-size: 18px;
        }
    }
  }

  .selection-container-row{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: auto;
    margin-left: 27px;
    margin-right: 27px;
    
    @include desktop{
      flex-direction: row;
      top: -250px;
      margin-top:30px;
    
      }
      .card{
        margin-bottom: 27px;
        max-width: 536px;
        // height: 600px;
        @include desktop{
          width:25%;
          max-width: 536px;
          min-height: 600px;
          margin-left: 20px;
        }
        &--one{
          @extend .card;
          background-color: $box-color-corn;
        }
        &--two{
          @extend .card;
          background-color: $box-color-light-blue;
        }
        &--three{
          @extend .card;
          background-color: $box-color-light-violet;
        }

        img{
          width: 100%;
          @include desktop{
            height: 270px;
          }
        }
      .card-container {
        margin: 20px;
        height: auto;
        padding: 0 10px 10px 10px;
        h4{
          font-size: 24px;
          font-weight: bold;
          margin: 0;
        }
        p{
          font-size: 14px;
          line-height: 25px;
          text-align: left;
          margin-bottom: 50px;
        
    
          @include desktop{
            font-size: 18px;
            line-height: 30px;
          }
        }
        a{
          text-transform: uppercase;
          text-decoration: none;
          color: $primary-font-color;
          font-size:18px;
          text-align: left;
          font-weight: 400;
          border-bottom: 3px solid $secondary-font-color;
          &:hover{
            border-bottom: 3px solid $primary-font-color;
          }
        }
      }
    }

   }
  } 
}